---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogSection from "../components/BlogSection.astro";
---

<BaseLayout title="Knowledge Graph | Arthur VO">
    <Header />

    <main class="mx-auto w-full max-w-5xl px-6 py-8">
        <BlogSection />
    </main>
</BaseLayout>
