---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import BlogSection from "../components/BlogSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Arthur VO">
	<Header />
	<Hero />

	<main class="mx-auto w-full max-w-5xl px-6 pb-20">
		<ProjectsSection />

		<BlogSection />
	</main>
</BaseLayout>
